@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="topbar">
        <TopNavMenu />
    </div>

    <main>
        <div class="row">
            <div class="col"></div>
        <article class="content col-md-6">
            @Body
        </article>
        <div class="col"></div>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
